.inputbox {
  height: 100px;

  .mui-input {
    width: 90%;
    display: inline-block;
    margin: 30px 10px;
    float: left;

    input[type="text"] {
      width: 100%;
    }

    .mui-input-bar {
      width: 100%;
    }
  }

  .button {
    margin: 10px auto 0 10px;
  }
}
